html, body {
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', sans-serif;
  }
  
  img {
    margin: 10px auto;
    height: auto;
    width: 200px;
  }
  
  ul {
    text-align: right;
  }
  
  h1 {
    font-size: 20px;
  }
  /*Sizing*/
  .container {
    margin: 0 auto;
  }
  
  .spacer {
    max-width: 1200px;
    margin: auto;
  }
  
  .main {
    background-color: #ffc200;
  }
  
  /*Header Section*/
  
  /*Jumbotron Section*/
  .jumbotron {
    background-color: #fff;
    max-width: 1200px;
    margin-left: 50px;
   
  }
  
  .jumbotron h2 {
    font-size: 50px;
    margin-bottom: 70px;
  }
  
  .jumbotron h2 span {
    color:#ffc200;
  }
  
  .jumbotron p {
    text-shadow: 0 0;
    font-size: 16px;
    color: #666;
    margin-bottom: 0;
  }
  
  /*Banner Section*/
  .banner {
    background-color: #B8DFD8;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  /*Expertise Section*/
  .cards {
    background-color: #ffc200;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .col {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  #expertise {
    padding: 20px;
    background-color: #ffc200;
    margin: 0;
    text-align: center;
  }
  
  /*Footer Section*/
  .footer {
    padding: 60px 0px;
    background-color: #000;
    color: #fff;
  }
  
  .footer h3 {
    font-size: 20px;
    margin-left: 20px;
  }
  
  .footer p {
    font-size:12px;
    margin-bottom: 0;
    margin-left: 20px;
  }
  .col{
    box-sizing: border-box;
     padding: 50px;
    background-color: transparents;
    transition: transform .2s;
    width: 100%;
    margin: 0 auto;
  }
  .col:hover{
    ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }
  .col h2 {
    text-align: center;
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: 18px;
    color: maroon;
  }
  footer {
      font-size: 12px;
      padding: 20px 0;
    }
.navigation {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        
        list-style: none;
        margin: 0; 
        background: #D4ECDD;
      }
      
      .navigation a {
        text-decoration: none;
        display: block;
        padding: 1em;
        color: #000;
      }
      
      .navigation a:hover {
        background: #fff;
        border-radius: 20px;
      }
      
      @media all and (max-width: 800px) {
        .navigation {
          justify-content: space-around;
        }
      }
      
      @media all and (max-width: 600px) {
        .navigation {
          flex-flow: column wrap;
          padding: 0;
        }
        .navigation a { 
          text-align: center; 
          padding: 10px;
          border-top: 1px solid rgba(255, 255, 255,0.3); 
          border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
        }
        .navigation li:last-of-type a {
          border-bottom: none;
        }
      }
      
      nav{
        flex: 1;
        text-align: right;
      }
      nav ul li {
        list-style: none;
        display: inline-block;
        margin-left: 60px;
      }
      nav ul li a{
        text-decoration: none;
        color: #fff;
      }  
    
  
